<%if @book.errors.any? %>
 <ul>
  <% @book.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
  <% end %>
  </ul>
<% end %>

<div>
<%=	f.label :name %>
<%=	f.text_field :name,:class =>"form-control" %>
</div>
<div>
<%=	f.label :description %>
<%=	f.text_area :description,:class =>"form-control" %>
</div>
<div>
<%=	f.label :isbn %>
<%=	f.text_field :isbn,:class =>"form-control" %>
</div>
<div>
<%=	f.label :出版日期 %>
<%=	f.date_select :出版日期,:class =>"form-control" %>
</div>
<div>
<%=	f.label :上架日期 %>
<%=	f.datetime_select :上架日期,:class =>"form-control"  %>
</div>

<%=	f.submit :class => "btn btn-primary" %>
