<h1>Book List</h1>

<% if @book.id %>

	<%= form_for @book,:url=> book_path(@book),:method => :patch do |f| %>
	<%=	render :partial=>"form", :locals=>{:f=>f} %>

	<% end %>
	

<% else %>

	<%= form_for @book, :url => books_path do |f| %>
		
	<%=	render :partial=>"form",:locals=>{:f=>f}%>

	<% end %>


<% end %>


<table class="table table-striped">
   <tr>
    <th>Name</th>
    <th>Description</th>
    <th>ISBN</th>
    <th>出版日期</th>
    <th>上架日期</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
   </tr>

   <% @books.each do |book| %>
	<tr>
	<td><%=	book.name        %></td>
	<td><%=	book.description %></td>
	<td><%=	book.isbn       %></td>
	<td><%=	book.出版日期       %></td>
	<td><%=	book.上架日期       %></td>
	<td><%=	link_to "show", book_path(book)      %></td>
    <td><%=	link_to "edit", books_path(:id=>book,:page=>params[:page])%></td>

	<td><%=	button_to "delete", book_path(book,:page=>params[:page]), :method => 'delete',:page=>@books.page   %></td>

	</tr>



<%	end  %>

</table>










	

<div><%=	paginate @books    %></div>