<h1>Book List</h1>


<ul>
   <% @books.each do |book| %>
	<li>
	<%=	book.name        %>
	<%=	book.description %>
	<%=	book.isbn       %>
	<%=	link_to "show", book_path(book)      %>

	</li>
<%	end  %>
</ul>

<%=	link_to "New Book", new_book_path    %>